<footer
    class="
        mt-10
        w-full
        p-4
        bg-blue-700
        text-white
        lg:text-center
        text-xs lg:text-base
    "
>
<p>
    Wanaboat.fr est édité par Captain of My Boat. Wanaboat en anglais, c'est possible : <a href="https://iwannaboat.com">iWannaboat.com</a>.
</p>
<p>
    Il n'y a pas de mentions légales, on s'en fiche mais si vous avez une question, je réponds toujours très vite sur ce canal : vhf@wanaboat.fr
</p>
</footer>