<footer
    class="
        mt-10
        w-full
        p-4
        bg-blue-700
        text-white
    "
>
    Wanaboat.fr est édité par Captain of My Boat. Wanaboat en anglais, c'est possible : <a href="https://iwannaboat.com">iWannaboat.com</a>.

</footer>