<nav
    class="
        w-full
        bg-white
        z-20
        pt-5
        px-4 md:px-0
    "
>
    <div class="flex space-x-10 justify-between lg:justify-start">
        <a class="flex space-x-2 items-center" href="/">
            <span class="w-12">
                {% include '../src/images/logo.svg' %}
            </span>
            <span class="font-bold text-gray-700 text-xl">
                {{ maintitle }}
            <span>
        </a>
        <div class="flex items-center">
            {% include "_menu.njk" %}
        </div>
    </div>
</nav>
