<nav
    class="
        text-gray-700
        uppercase
        font-bold
        text-sm
        border-solid
        border-t
        border-gray.100
    "
>
    <div class="flex justify-between p-5">
        <div>
            <a
                href="/"
                class="block w-100 flex items-center"
            >
                <span class="block rounded-full w-2 h-2 bg-red-300 mr-2"></span>
                Changement climatique
            </a>
        </div>
        <div>
            <a
                href="/"
                class="block w-100 flex items-center"
            >
                <span class="block rounded-full w-2 h-2 bg-green-300 mr-2"></span>
                Transition énergétique
            </a>
        </div>
        <div>
            <a
                href="/"
                class="block w-100 flex items-center"
            >
                <span class="block rounded-full w-2 h-2 bg-blue-300 mr-2"></span>
                Publications
            </a>
        </div>
        <div>
            <a
                href="/"
                class="block w-100 flex items-center"
            >
                <span class="block rounded-full w-2 h-2 bg-purple-300 mr-2"></span>
                Recension de lectures
            </a>
        </div>
        <div>
            <a
                href="/"
                class="block w-100 flex items-center"
            >
                <span class="block rounded-full w-2 h-2 bg-yellow-300 mr-2"></span>
                Video
            </a>
        </div>
    </div>
</nav>