<div class="grid grid-cols-2 bg-gray-50 mb-10 hover:shadow-xl rounded-md overflow-hidden">
    <div>
        {% responsiveimage "./src/images/carte-consequences.png" ,"Carte conséquences", "(min-width: 30em) 50vw, 100vw" %}
        {# <img
        src="https://jancovici.com/wp-content/uploads/2020/12/carte-consequences.png"
        alt='Changement climatique : à quand les ennuis ?'
    /> #}
    </div>
    <div class="p-10">
        <p class="italic text-gray-500">22/12/2020, à la une</p>
        <h2 class="font-serif text-5xl my-6">
            Changement climatique : à quand les ennuis ?
        </h2>
        <span
            class="bg-white p-1 text-green-900 text-sm uppercase rounded-md"
        >
            Article de presse
        </span>
    </div>
</div>