<div class="bg-gray-900 my-8 p-8">
    <p
        class="text-white text-center uppercase mb-4"
    >
        Dernière vidéo Youtube
    </p>
    <img alt="player youtube" src="https://i.ytimg.com/vi_webp/Shz30sEEyT8/sddefault.webp" />
</div>